%div.container
  %div.row
    %div.col-md-12
      %h1
        Oops!
        %small
          Something broke when we tried to handle your request. :-(
      %p
        Maybe
        %strong
          %a{:href => link_to('/')}
            start a new search?
