!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    // FIXME(auxesis): add helpers to set title
    %title Gastro
    // FIXME(auxesis): add helpers to set page description
    %meta{:content => "Gastro helps you find out about potential food safety problems when eating out or buying food."}
    // FIXME(auxesis): add helpers to link css (with absolute url)
    %link{:href => "/css/vendor/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/vendor/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    // FIXME(auxesis): add helpers to link canonical (with absolute url)
    %link{:href => "/", :rel => "canonical"}/
    %link{:href => "/img/favicon.png?1", :rel => "icon"}/
    %link{:href => "/img/apple-touch-icon-precomposed.png?1", :rel => "apple-touch-icon-precomposed"}/
    // FIXME(auxesis): add helpers to link javascript (with absolute url)
    %script{:src => "/js/vendor/jquery.min.js"}
    %script{:src => "/js/vendor/bootstrap.min.js"}
    %script{:src => "/js/app.js"}
  %body
    = yield
