- page_title "Privacy policy"

%div.container
  %h1 Privacy policy
  %div.row
    %div.col-md-12
      %p
        Your privacy when using Got Gastro is really important.
      %ul
        %li
          We ensure all your requests to the website are encrypted with HTTPS,
          to ensure any submitted location data is kept private.
        %li
          We only retain geolocation data provided by you in a cookie that
          expires after 24 hours, to ensure we
        %li
          We retain logs of requests to the site for a maximum of 24 hours, for
          debugging and troubleshooting purposes.
        %li
          We do not onsell any data you submit.
  %div.row.nav
    %div.col-md-12
      %p
        %a{:href => "/"}
          %button.btn.btn-default.btn-lg{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back
