- page_title "Report a food safety problem"

%div.container
  %h1 Report a food safety problem
  %div.row
    %div.col-md-12
      %h3
        %a{:href => "http://www.health.act.gov.au/public-information/public-health/public-health-complaints", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          Australian Capital Territory
    %div.col-md-12
      %h3
        %a{:href => "http://foodauthority.nsw.gov.au/gp/complaints-about-food", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          New South Wales
    %div.col-md-12
      %h3
        %a{:href => "http://www.health.nt.gov.au/Environmental_Health/Food_Safety/Food_Safety_Hotline/index.aspx", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          Northern Territory
    %div.col-md-12
      %h3
        %a{:href => "https://www.qld.gov.au/health/staying-healthy/environmental/food/report-food-safety-issue/index.html", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          Queensland
    %div.col-md-12
      %h3
        %a{:href => "http://www.sahealth.sa.gov.au/wps/wcm/connect/public+content/sa+health+internet/health+topics/health+conditions+prevention+and+treatment/food+safety/complaints+about+food", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          South Australia
    %div.col-md-12
      %h3
        %a{:href => "http://www.dhhs.tas.gov.au/publichealth/food_safety/information_for_consumers", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          Tasmania
    %div.col-md-12
      %h3
        %a{:href => "http://healthywa.wa.gov.au/Articles/N_R/Reporting-food-safety-offences", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          Western Australia
    %div.col-md-12
      %h3
        %a{:href => "https://www2.health.vic.gov.au/public-health/food-safety/food-safety-information-for-consumers/complaints", :target => "_blank"}
          %i.fa.fa-fw.fa-link
          Victoria

  %div.row.nav
    %div.col-md-12
      %p
        %a{:href => "/", :target => "_blank"}
          %button.btn.btn-default.btn-lg{:type => "button", :target => "_blank"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back
