- require_js 'results'
- img_src = "https://maps.googleapis.com/maps/api/staticmap?scale=2&size=400x200&amp;maptype=roadmap"
- markers = "size:mid%7C-33.8650,151.2094%7C-33.8450,151.2064%7C-33.8550,151.1864&markers=icon:http://i.stack.imgur.com/orZ4x.png%7C-33.8630,151.1850"
- gmaps_api_key = "AIzaSyBxaCRguM2pvw9HOLybx5ZP6Cuo94KnJwg"
- map_url = "#{img_src}&markers=#{markers}&key=#{gmaps_api_key}"

%div.container
  %h1 Food safety problems near me
  %div.row
    %div.col-md-12
      %p.map
        %img{:src => map_url}/
  %div.row.results
    %div.col-md-12.result
      %div.pull-right
        100m away
      %h4
        STITCH BAR
        %small 4 problems
      %p.text-muted
        %small 61 YORK STREET SYDNEY 2000
    %div.col-md-12.result
      %div.pull-right
        450m away
      %h4
        THE MUGLAN
        %small 2 problems
      %p.text-muted
        %small 116 LIVERPOOL STREET SYDNEY 2000
    %div.col-md-12.result
      %div.pull-right
        800m away
      %h4
        ODEN HOUSE
        %small 1 problem
      %p.text-muted
        %small 605-609 GEORGE STREET SYDNEY 2000
    %div.col-md-12.result
      %div.pull-right
        1.1km away
      %h4
        NEPTUNE PALACE
        %small 1 problem
      %p.text-muted
        %small SHOP 609-701, 1 PITT STREET SYDNEY 2000
    %div.col-md-12.result
      %div.pull-right
        1.2km away
      %h4
        LA CITA RESTAURANT AND BAR
        %small 1 problem
      %p.text-muted
        %small 5-15 LIME STREET SYDNEY 2000
    %div.col-md-12.result
      %div.pull-right
        2.5km away
      %h4
        KAGRO (NSW) PTY LTD
        %small 6 problem
      %p.text-muted
        %small 382A PITT STREET SYDNEY 2000
  %div.row.report
    %div.col-md-12
      %p
        Have a complaint about a business?
      %p
        %a{:href => "/report"}
          %button.btn.btn-warning.report{:type => "submit"}
            %i.fa.fa-fw.fa-bug
            Report a food safety problem
  %div.row.nav
    .col-md-12
      %p
        %a{:href => "/"}
          %button.btn.btn-default{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back
