- page_title "About"

%div.container
  %h1 About
  %div.row
    %div.col-md-12
      %p
        Got Gastro helps you find out about potential food safety problems when eating out or buying food.
      %p
        It combines data from various state sources and makes it easily searchable.
      %p
        Got Gastro provides data for these jurisdictions:
      %ul
        %li
          %strong Australia
        %ul
          %li
            %strong> New South Wales
            , from the NSW Food Authority's
            %a{:href => "http://foodauthority.nsw.gov.au/offences/prosecutions/"} prosecution
            and
            %a{:href => "http://foodauthority.nsw.gov.au/penalty-notices/default.aspx?template=results"} penalty
            notices.
          %li
            %strong> Victoria
            , from vic.health's
            %a{:href => "https://www2.health.vic.gov.au/public-health/food-safety/convictions-register"} convictions register.
          %li
            %strong> Western Australia
            , from the Government of Western Australia's Department of Health's
            %a{:href => "http://ww2.health.wa.gov.au/Articles/F_I/Food-offenders/Publication-of-names-of-offenders-list"} names of offenders list.
          %li
            %strong> South Australia
            , from SA Health's
            %a{:href => "http://www.sahealth.sa.gov.au/wps/wcm/connect/public+content/sa+health+internet/about+us/legislation/food+legislation/food+prosecution+register"} food prosecution register.
        %li
          %strong UK
        %ul
          %li
            %strong> England, Wales and Northern Ireland
            , from the Food Standard Agency's
            %a{:href => "https://www.food.gov.uk/enforcement/prosecutions"}
              food law prosecution outcomes database.
      %p
        Learn how to
        %a{:href => 'https://github.com/auxesis/gastro/blob/master/docs/contributing-datasets.markdown'}
          add more datasets
        to Got Gastro.


  %h1 Credits
  %div.row
    %div.col-md-12
      %ul
        %li
          %a{:href => "https://morph.io/"} Morph
          for providing a reliable scraping and data infrastructure, for
          getting the published notices from the states from
          %a{:href => "https://morph.io/auxesis/vic_health_register_of_convictions"} many
          %a{:href => "https://morph.io/auxesis/nsw_food_authority_penalty_notices"} different
          %a{:href => "https://morph.io/auxesis/nsw_food_authority_prosecution_notices"} sources
          into
          %a{:href => "https://morph.io/auxesis/gotgastro_scraper"} one format.
        %li
          Source code is
          %a{:href => "https://github.com/auxesis/gastro/"} on GitHub
          and available under the MIT license.
        %li
          All code changes to Got Gastro are
          %a{:href => "https://circleci.com/gh/auxesis/gastro"} continuously deployed
          using CircleCI.


  %div.row.nav
    %div.col-md-12
      %p
        %a{:href => "/"}
          %button.btn.btn-default.btn-lg{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back

  = haml :footer
