%footer
  %p.text-center
    %small
      %a{href: link_to('/about')} About
    %span.delimiter •
    %small
      %a{href: link_to('/privacy')} Privacy policy
    %span.delimiter •
    %small
      %a{href: link_to('/report')} Report a food safety problem
