%div.container
  %div.row
    %div.col-md-12
      %h1
        Sorry!
        %small
          We don't quite know what you were looking for.
      %p
        Maybe
        %strong
          %a{href: link_to('/')}
            start a new search?
      %p
        Think there should be something here?
        :ruby
          issue = {
            title: "Couldn't find content at #{request.url}",
            body:  "When I went to #{request.url}, I expected to see <SOMETHING>"
          }
          query = nav_query(issue)
          bug_url = 'https://github.com/auxesis/gastro/issues/new?' + query
        %a{href: bug_url, target: '_bug'}
          Report a bug.
