- title = 'Privacy policy'
- description = 'Information about how Got Gastro stores personal data you submit.'
- image_url = link_to('/img/apple-touch-icon-precomposed.png?1', :asset => true)

- page_title(title)

- # Facebook Open Graph
- meta_tag :property => 'og:type',        :content => 'website'
- meta_tag :property => 'og:url',         :content => request.url
- meta_tag :property => 'og:title',       :content => title
- meta_tag :property => 'og:description', :content => description
- meta_tag :property => 'og:image',       :content => image_url
- meta_tag :property => 'og:image:width', :content => '196'
- meta_tag :property => 'og:image:height', :content => '196'

- # Twitter Cards
- meta_tag :name => 'twitter:card', :content => 'summary'
- meta_tag :name => 'twitter:site', :content => '@gotgastro'
- meta_tag :name => 'twitter:title', :content => title
- meta_tag :name => 'twitter:description', :content => description
- meta_tag :name => 'twitter:image', :content => image_url
- meta_tag :name => 'twitter:image:alt', :content => "Got Gastro logo."

%div.container
  %h1 Privacy policy
  %div.row
    %div.col-md-12
      %p
        Your privacy when using Got Gastro is really important.
      %ul
        %li
          We ensure all your requests to the website are
          %strong encrypted with HTTPS,
          to ensure any submitted location data is kept private.
        %li
          We
          %strong retain location data
          provided by you
          %strong in a cookie
          that expires after 24 hours.
        %li
          We
          %strong retain logs of requests to the site
          for a maximum of 7 days, for debugging and troubleshooting purposes.
        %li
          %strong We do not onsell any data you submit.
        %li
          We host
          %code gotgastroagain.com
          using infrastructure based in the
          United States of America, and as such
          %strong data can be acquired by US law enforcement
          via the PATRIOT act.
        %li
          Per Australian law
          %strong we cannot disclose
          if any information has been handed to law enforcement.

  %div.row.nav
    %div.col-md-12
      %p
        %a{:href => "/"}
          %button.btn.btn-default.btn-lg{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back

  = haml :footer
